      <div class="col-md-5">

                <table class="table border-bottom">
                  <thead class="thead-dark">
                    <tr>
                      <th colspan="3" class="text-center">新着情報</th>
                    </tr>
                  </thead>

                  <tbody>
                  <% @post.each.with_index(1) do |post,i|%>
                      <tr>
                        <th class="align-middle" style="width: 20%;"><span class="rank-tag-num">第<%= i %>位 </span></th>
                        <td style="width: 30%;"><%= attachment_image_tag post, :image, :fill, 100, 100, format: "jpeg" %></td>
                        <td class="align-middle" style="width: 50%"><%= link_to post.title, post_path(post.id) %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
                <%= link_to "一覧を見る", posts_path, class:"btn btn-outline-primary" %>

      </div>
