    <div class='col-md-4' >
      <div class='row'>
        <div class='col-md-9'>
              <table class='table border-bottom'>
                <thead class="thead-dark">
                  <tr>
                    <th class='text-center'>新着情報</th>
                  </tr>
                </thead>

                <% post.each do |post|%>
                  <tbody>
                    <tr>
                      <td><%= post.title %><td>
                      <td><%= link_to 'more', post_path(post.id) %></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
        </div>
      </div>
    </div>