<div class="container">
  <div class="row pt-5">

    <div class="col-md-3 offset-md-2">

      <h4 class="bg-dark text-white text-center p-3">検索結果</h4>

    </div>
  </div>


  <div class="row">
    <div class="col-md-7 offset-md-2">

      <% @shops.each do |shop| %>
      <table class="table table-border-bottom">
        <td><%= attachment_image_tag shop, :image, :fill, 100, 100, format: "jpeg" %></td>
        <td class="align-middle"><%= link_to shop.name, shop_path(shop.id) %></td>
        <td class="align-middle"><%= shop.address %></td>
      </table>
      <% end %>
    </div>
  </div>

</div>




