      <p class='text-center'><strong>
      東海地方の古着屋巡りを楽しく快適に！。<br>
      古着屋のオーナー様がお店の情報登録、入荷商品、イベントのPRができます。<br>
      「この古着欲しい！」「ここ行ってみたい！」と思えるお店が東海地方にはたくさんあります。<br>
      Ucs.Exprosionから発信される個性溢れる古着を通してコミュニティを広げ<br>
      新たな発見や出会いのきっかけになりたいという思いを込めました。<br>
      </strong></p>