      <p class='text-center'
        このサイトは東海地方を中心に古着屋さんを紹介しているサイトです。<br>
        古着屋のオーナーの方はお店の情報登録、イベント情報の告知ができます。<br>
        お店の情報登録、イベント情報の告知には会員登録が必要になります。<br>
      </p>
      <div class="container">  <!-- この行を追加 -->
        <div class="row">
            <div class="col-lg-4">
              <%= render 'shares/post', post: @post %>
            </div>
            <div class="col-lg-8">
              <h2>古着屋さん</h2>
                <% @shop.each do |shop| %>
                  <%= shop.name %>
                  <%= shop.detail %>
                  <%= link_to 'more', shop_path(shop.id) %>
                <% end %>
            </div>
        </div>
      </div>
