<div class="container">

  <div class="row">
    <div class="col-md-3 offset-md-2 pt-5 mb-3">

      <h4 class="bg-dark text-white text-center p-3">新着情報一覧</h4>

    </div>
  </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">

        <% @posts.each do |post|%>
        <table class="table table-border-bottom">
          <tr>
            <td><%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %></td>
            <td class="align-middle"><%= link_to post.title, post_path(post.id) %></td>
          </tr>
        </table>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>

</div>





