/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 header {
  background-image: url("photo-1445205170230-053b83016050");
  height: 300px;
  background-size: cover;
  position: relative;
 }

 .header-title {
  font-size: 30px;
  text-decoration: none;
  text-align:left;
  color:#CCCCCC;
  font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans","Arial"sans-serif;
 }

 .header-sub-title{
  font-size: 17px;
  padding-left: 15px;
  font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans","Arial"sans-serif;
 }

 .header-center {
  position: absolute;
    top: calc(50% - 68px);
    /* left: 50%; */
    width: 100%;
    height: 100%;
    /* transform: translate(-50%); */
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
  font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans","Arial"sans-serif;
 }

 .header-center-top{
  font-size: 20px;
  color: whitesmoke;
 }

 .header-center-bottom {
 font-size: 50px;
 color: whitesmoke;
 }

 body {
  background-image: image-url("clark-street-mercantile-qnKhZJPKFD8-unsplash");
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
 }

